//共同
$main-color:#182a52;
$sub-color:#fefbb5;
$promote-bgcolor:#6FBFD4;
$raise-bgcolor:#57B970;
$book_guid-bgcolor:#FFD650;

*{
    box-sizing: border-box;
}
html,
body {
    min-width: 1440px;
    font-size: 16px;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: $main-color;
    transition: all .3s;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}
.dp-flex {
    display: flex;

}

nav {
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: #fff;
    position: fixed;
    .dp-flex{
        justify-content: space-between;
    }
    ul{
        li{
            a{
                display:block;
                color: #fff;
                padding: 23px 20px;
            }
        }
    }

}

.paragraph {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;

    h3 {
        font-size: 38px;
        font-weight: 500;
        text-align: center;
        padding: 5px;

        span {
            display: block;
            line-height: 1.8;
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0);
        }
    }

    p {
        padding: 35px 0;

        +p {
            padding-top: 0;
        }
    }
}

footer {
    font-size: 14px;
    text-align: center;
    padding: 18px;
    background-color: $book_guid-bgcolor;
}

header {
    min-height: 100%;
    height: 100%;
    padding-top: 60px;
    background-color: #f7b30b;
    .container{
        height:1165px;
        background-image: url(../images/bg.jpg);
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .tit-box{
        width: 477px;
        color: #fff8e9;
        padding: 45px 15px 45px 20px;
        .sub-tit{
            font-size: 24px;
            font-weight: 500;
        }
        h2 {
            font-size: 72px;
            line-height: 1;
            letter-spacing: 7px;
            font-weight: 500;
            padding: 32px 0;
            color: #fff;
        }
        p{
            font-size: 15px;
            line-height: 1.5;
        }
    }
    
    
}

section {
    padding: 150px 0 70px;
}

.promote {
    background-color: $promote-bgcolor;
}

.raise {
    background-color: $raise-bgcolor;
}

.book_guid {
    background-color: $book_guid-bgcolor;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    .items{
        margin: 55px 0;
        ul{
            width: 665px;
            margin: 0 auto;
            li{
                background-color: #d69b44;
                padding: 10px 0;
                border-top:1px solid #fff;
                border-bottom:1px solid #fff;
                transition: all .3s;
                +li{
                    border-top:0;
                }
                &:hover{
                    background-color: rgba(247, 178, 12, 0.5);
                }
            }
        }
    }
}
.items{
    .dp-flex{
        align-items: center;
        div{
            padding: 0 16px;
            margin: 0 auto;
            color: #fff;
        }
        .book_name{
            width: 75%;
            text-align: left;
        }
        .publish {
            text-align: center;
        }
    }
}
