//共同
$main-color:#182a52;
$sub-color:#fefbb5;
$header-bgcolor:#f7b30b;
$promote-bgcolor:#6dc2d6;
$raise-bgcolor:#57B970;
$book_guid-bgcolor:#FFD650;

*{
    box-sizing: border-box;
}
html,
body {
    min-width: 1440px;
    font-size: 16px;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: $main-color;
    transition: all .3s;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}
.dp-flex {
    display: flex;

}
.btn{
    a{
        display: table;
        margin: 0 auto;
        width: 200px;
        height: 44px;
        line-height: 1.8;
        font-size: 18px;
        padding: 10px 15px;
        background-color: $header-bgcolor;
        text-align: center;
        color: #fff;
        transition: all .5s;
        &:hover{
            background-color:darken($header-bgcolor, 5%);
        }
    }
}
.deco{
    width: 25px;
    vertical-align: middle;
}

nav {
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: #fff;
    position: fixed;
    z-index: 100;
    .dp-flex{
        justify-content: space-between;
    }
    h1{
        font-size: 35px;
        a{
            display: block;
            color: #fff;
            padding: 11px 20px;
        }
    }
    ul{
        li{
            a{
                display:block;
                color: #fff;
                padding: 21px 20px 16px;
                transition: all .3s;
                &:hover {
                    border-bottom: 5px solid $sub-color;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }

}

.paragraph {
    width: 970px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    z-index: 1;

    h3 {
        line-height: 1.8;
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
        span {
            display: table;
            margin: 0 auto;
            font-size: 38px;
            font-weight: 500;
            background-color: $sub-color;
            padding: 0 5px;
            line-height: 1.4;
        }
    }

    p {
        padding: 35px 0;

        +p {
            padding-top: 0;
        }
    }
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 18px;
    background-color: $book_guid-bgcolor;
}

header {
    min-height: 100%;
    height: 100%;
    padding-top: 60px;
    background-color: $header-bgcolor;
    .container{
        height:1151px;
        background-image: url(../images/header/bg.jpg);
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        overflow: hidden;
        .block {
            &.dp-grid {
                display: grid;
                grid-template-columns: 167px 295px 295px 295px 295px;
                grid-template-rows:27px 205px 205px 205px 205px 205px;
                column-gap: 15px;
                row-gap: 16px;
                grid-template-areas:
                "titBox titBox . . ."
                "titBox titBox box1 cover2 box2"
                "titBox titBox cover1 box3 cover3"
                ". . box4 cover4 ."
                ". cover5 box5 . eyerbox"
                ". box6 cover6 cover6 guidance"
                ;
        }
    }
    
    .tit-box{
            grid-area: titBox;
            width: 477px;
            color: #fff8e9;
            padding: 25px 15px 25px 19px;
            .sub-tit{
                font-size: 24px;
                font-weight: 500;
            }
            h2 {
                font-size: 72px;
                line-height: 1;
                letter-spacing: 7px;
                font-weight: 500;
                padding: 28px 0;
                color: #fff;
            }
            p{
                font-size: 17px;
                line-height: 1.5;
                +p{
                    margin-top: 20px;
                }
            }
            b{
                font-size: 22px;
            }

        }
        .box {
            position: relative;
            z-index: 2;
            text-align: center;
            place-self: center;
            color: #2f4191;
            line-height: 1.2;
            h4{
                font-size: 22px;
                font-weight: 500;
                
            }
            p{
                font-size: 15px;
                margin: 13px 0;
                letter-spacing: 0;
            }
            .btn{
                a{
                    width: 120px;
                    background-color: $sub-color;
                    color: #2f4191;
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        background-color: darken($sub-color, 15%);
                    }
                }
            }
            &.box1 {
                grid-area: box1;
            }
            &.box2{
                grid-area: box2;
            }
            &.box3 {
                grid-area: box3;
            }
            &.box4 {
                grid-area: box4;
            }
            &.box5 {
                grid-area: box5;
            }
            &.box6 {
                grid-area: box6;
            }
        }
        .cover{
            position: relative;
            justify-content:center;
            place-self: center;
            z-index: 2;
            a{
                display: block;
                + a{
                    margin-left: 20px;
                }
                img{
                    height: 160px;
                    transition: all .3s;
                }
                &:hover{
                    img{
                        transform:scale(1.1);
                    }
                }
            }
            &.cover1{
                grid-area: cover1;
            }
            &.cover2 {
                grid-area: cover2;
            }
            &.cover3 {
                grid-area: cover3;
            }
            &.cover4 {
                grid-area: cover4;
            }
            &.cover5 {
                grid-area: cover5;
            }
            &.cover6 {
                grid-area: cover6;
            }
            &.eyerbox{
                grid-area: eyerbox;
                position: relative;
                z-index: 0;
                img{
                    margin-top: 10px;
                    width: 295px;
                    height: 205px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    left: -1345px;
                    top: -439px;
                    border-style: solid;
                    border-width: 500px 0 500px 1400px;
                    border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
                    transform-origin:right center;
                    transform:rotate(45deg);
                    animation-name:vision;
                    animation-duration:8s;
                    animation-iteration-count:infinite;
                    animation-direction:alternate-reverse;
                }
            }
            &.guidance {
                grid-area: guidance;
                place-self: flex-start;
                padding: 20px;
                p {
                    font-size: 14px;
                    line-height: 1.5;
                    margin: 0;
                    text-align: left;
                    img{
                        display: inline-block;
                        width: 45%;
                        color: $main-color;
                    }
                }
                a{
                    padding: 0;
                    text-align: left;
                    width: auto;
                    background-color: transparent;
                    color: $main-color;
                    margin-top: 30%;
                    i{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@keyframes vision{
    from {
        transform:rotate(45deg);
    }

    to {
        transform:rotate(-45deg);
    }
}

section {
    padding: 150px 0 70px;
}

.promote-top {
    background-color: $header-bgcolor;
    height: 324px;
    .container{
        height: 547px;
        background-image: url(../images/header/promote-video.jpg);
        background-repeat: no-repeat;
        .paragraph {
            padding-top: 220px;
        }
    }
    
}
.promote {
    position: relative;
    background-color: $promote-bgcolor;
    padding-top:200px;
    padding-bottom: 0;
    .dp-flex{
        justify-content:center;
        &.video-group{
            margin-top: 50px;
        }
        .sharer{
            position: relative;
            display: inline-block;
            background-color:#c97918;
            padding: 10px;
            margin-left: 30px;
            color: $sub-color;
            &::before{
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                bottom: 0;
                left: -30px;
                border-style: solid;
                border-width: 0 0 40px 30px;
                border-color: transparent transparent #c97918 transparent;
            }
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                right: -30px;
                border-style: solid;
                border-width: 40px 0 0 30px;
                border-color: transparent transparent transparent #c97918;
            }
            b{
                font-size: 20px;
                font-weight: 400;
                
            }
        }
        .video {
            width: 430px;
            letter-spacing: .3;
            +.video{
                margin-left: 75px;
            }
        }
        iframe{
            border: 10px solid $sub-color;
            box-shadow: -1px -1px 1px #c97918,
            1px 1px 1px #c97918;
        }
        .content-box {
            margin: 20px 0;
            line-height: 1.5;
            span{
                font-size: 14px;
                font-weight: 500;
            }
            .book_name{
                font-size: 20px;
                line-height: 1.3;
                margin: 20px 0;
                font-weight: 400;
            }
            a{
                font-family: 'Noto Serif TC', serif;
                font-size: 22px;
                line-height: 1;
                letter-spacing: 0;
                font-weight: 500;
                color: $sub-color;
                transition: all .3s;
                &::before{
                    content: '+';
                    display: inline-block;
                    font-weight: 300;
                    line-height: 1;
                    margin-right: 5px;
                }
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
    .tip{
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 30px;
    }
    .bg {
        position: absolute;
        bottom: -180px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 0;
        border-style: solid;
        border-width: 180px 720px 0 720px;
        border-color: $promote-bgcolor transparent transparent transparent;
        .pic {
            width: 146px;
            height: auto;
            position: absolute;
            top: -85px;
            left: -50%;
            transform: translateX(-50%);

            img {
                width: 100%;
                display: block;
            }
        }
    }

}
.raise-top {
    padding-top:220px;
    background-color: $raise-bgcolor;
    .paragraph{
        background-image: url(../images/raise/raise_bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        p {
            color: #fff;
        }
    }
}
.raise {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $raise-bgcolor;
    position: relative;
    .content{
        width: 970px;
        line-height: 1.8;
        margin: 0 auto 67px;
        flex-wrap: wrap;
        li{
            width: 100%;
            position: relative;
            background-color:$sub-color;
            border: 2px solid #147432;
            padding: 25px 57px;
            margin-top: 40px;
            a{
                text-decoration: underline;
                color: $main-color;
                &:hover{
                }
            }
            &.method1{
                width: 505px;   
                margin-right: 45px;
                margin-top: 0px;
            }
            &.method2 {
                width: 420px;
                margin-top: 0px;
            }
            &.method5 {
                width: 550px;
                margin-right: 45px;
            }
            &.method6 {
                width: 375px;
                padding:25px 20px 25px 50px;
                align-self: baseline;
                span{
                    font-style: italic;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 1;
                }
                .notice {
                    font-size: 14px;
                }
                .guidance {
                    position: absolute;
                    bottom: -65px;
                    font-size: 14px;
                    line-height: 1.5;
                    margin: 0;
                    text-align: left;

                    img {
                        display: inline-block;
                        width: 45%;
                    }
                }
            }
            
            .side_pic{
                position: absolute;
                right: -10px;
                bottom: -20px;
                img{
                    width: 100%;
                }
            }
            b {
                font-weight: 500;
                font-size: 36px;
                position: absolute;
                display: block;
                top: -30px;
                left: 30px;
                z-index: 1;
                &::after{
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -15px;
                    z-index:-1;
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 0 25px 50px;
                    border-color: transparent transparent transparent $header-bgcolor;
                }
            }
            .list-name {
                font-weight: 400;
                font-size: 20px;
            }
        }
        ul{
            li{
                padding: 0;
                margin-top: 0;
                border: 0;
            }
        }
    }
    .bg {
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 720px 200px 720px;
        border-color: transparent transparent $book_guid-bgcolor transparent;
        .pic {
            width: 136px;
            height: auto;
            position: absolute;
            top: 0;
            left: -50%;
            transform: translateX(-50%);

            img {
                width: 100%;
                display: block;
            }
        }
    }
}
.book_guid_top{
    background-color: $raise-bgcolor;
    height: 200px;
    padding-top: 200px;
}
.book_guid {
    padding-top: 100px;
    background-color: $book_guid-bgcolor;
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
    .container{
        background-image: url(../images/book_guid/bg.jpg);
        background-repeat: repeat-y;
    }
    .items{
        margin: 80px 0;
        .deco{
            width: 62px;
            height: 62px;
            margin: 0 auto;
        }
        ul{
            width: 665px;
            margin: 0 auto;
            li{
                background-color: #d69b44;
                border-top:1px solid #fff;
                border-bottom:1px solid #fff;
                transition: all .3s;
                +li{
                    border-top:0;
                }
                &:hover{
                    background-color: rgba(247, 178, 12, 0.5);
                    .icon-arrow_down {
                        opacity: 1;
                    }
                }
            }
        }
        &.item6{
            margin: 80px 0 50px;
        }
    }
}
.items{
    .classify{
        font-size: 30px;
        font-weight: 500;
        padding: 10px 0;
        &::after{
            content: "";
            display: block;
            width: 665px;
            height: 5px;
            border: 1px solid $main-color;
            margin: 0 auto;
        }
        
    }
    .order {
        font-size: 16px;
        margin-top: 35px;
        a{
            color: $main-color;
        }
    }
    .dp-flex{
        align-items: center;
        div{
            padding: 10px 16px;
            margin: 0 auto;
            color: #fff;
        }
        .book_name{
            width: 520px;
            text-align: left;
            border-right: 1px solid #fff;
            .icon-arrow_down{
                opacity: 0;
                display: inline-block;
                padding: 0 10px;
                padding-left: 5px;
                transform: rotate(270deg);
            }
        }
        .publish {
            width:145px;
            text-align: center;
        }
    }
    ul>li:nth-child(1) {
        background-color: $book_guid-bgcolor;
        border-top: 0;
        &:hover{
            background-color: rgba(255,255,255,0);
        }
        .book_name{
            text-align: center;
            border: 0;
        }
        div{
            color: $main-color;
        }
    }
}
.gotop {
    a {
        width: 75px;
        height: 75px;
        display: block;
        margin: 0 auto;
        padding: 23px 0;
        border-radius: 50%;
        background-color: $header-bgcolor;
        color: #fff;
        font-weight: 500;
        &:hover{
            background-color: darken($header-bgcolor, 5%);
        }
        i{
            display: block;
            transform: rotate(-180deg);
        }
    }
}
.shin {
    position: absolute;
    display: block;
    &.b-shin{
        width: 60px;
    }
    &.m-shin {
        width: 30px;
    }
    &.s-shin {
        width: 15px;
    }
    &.shin1{
        top: 300px;
        left: 70px;
    }
    &.shin2 {
        top: 600px;
        left: 10%;
    }
    &.shin3 {
        top: 600px;
        right: 3%;
    }
    &.shin4 {
        top: 1200px;
        right: 110px;
    }

    &.shin5 {
        bottom: 450px;
        right: 10%;
    }

    &.shin6 {
        bottom: 350px;
        left: 5%;
    }
}
